@page
@model AboutModel
@{
    ViewData["Title"] = "О сайте";
}
<h2>@ViewData["Title"]</h2>

<p>Как часто вы задумывались над тем, сколько же всего у вас аккаунтов на различных ресурсах? 
    Сколько имен пользователя и паролей приходится держать в памяти или в специальном файле 
    на рабочем столе, скрытом от посторонних глаз? В среднем пользователь может иметь до 40 аккаунтов. 
    И, в зависимости от рода деятельности, эта цифра вполне способна вырасти на порядок.</p>
