@page
@model ContactModel
@{
    ViewData["Title"] = "Контакты";
}
<h2>@ViewData["Title"]</h2>

<address>
    Город, Улица, Дом<br />
    <abbr title="Телефон">Телефон:</abbr>
    8(999)-999-99-99
</address>

<address>
    <strong>Поддержка:</strong> <a href="mailto:Support@example.com">Support@example.com</a>
</address>
