@page
@model PrivacyModel
@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<h2>@ViewData["Title"]</h2>

<p>Наш Сайт использует cookie-файлы для того, чтобы отличить Вас от других пользователей нашего ресурса. 
    Это позволяет обеспечивать удобный просмотр нашего Сайта, а также даёт возможность улучшать его. 
    Для того чтобы продолжить работу с Сайтом, Вам необходимо принять использование cookie-файлов.</p>